html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "TTLakes";
    src: local("TTLakes-Medium"),
        local("TTLakes-Regular"),
        local("TTLakes-Bold"),
        url("fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 400;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 700;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Medium.woff") format("woff");
    font-weight: 500;

}

.block {


    /* Убираем отступы по умолчанию */
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 196px;
    background-color: #F8F8F8;
    justify-content: center;
    border-top: 1px solid rgba(217, 255, 245, 1);


}

.title {
    width: 100%;
    height: 80px;
    font: 400 16px/24px "TTLakes";
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-transform: uppercase;
    padding: 16px;
    background-color: #FFFFFF;
    background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);

    margin-bottom: 16px;

}

.swiper {

    display: flex;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-left: 16px;
    flex-wrap: nowrap;
    gap: 16px;

    
}

.swiper-horizontal {}



.swiper-wrapper {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: flex-start;

}

.swiper-slide {
    width: 100%;
    display: flex;


}

.slide-content {
    width: 240px;
    height: 72px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    border: red 1px solid;
    border-radius: 6px;

}


.item__Lenovo {
    background-image: url("img/lenovo.svg");
    width: 108px;
    height: 32px;
    margin-right: 84px;

}

.item__Samsung {
    background-image: url("img/samsung.svg");
    background-repeat: no-repeat;
    width: 116px;
    height: 38.52px;
    margin-right: 76px;

}

.item__Apple {
    background-image: url("img/apple.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    margin-right: 148px;

}

.item__ViewSonic {
    background-image: url("img/ViewSonic.svg");
    background-repeat: no-repeat;
    width: 128px;
    height: 21px;
    margin-right: 66px;
    margin-left: -2px;

}

.item__Bosh {

    background-image: url("img/bosh.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 128px;
    height: 28.6px;
    margin-right: 64px;
}

.item__HP {
    background-image: url("img/hp.svg");
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    margin-right: 146px;
    margin-left: -6px;
}

.item__Acer {
    background-image: url("img/acer.svg");
    background-repeat: no-repeat;
    width: 94px;
    height: 24px;
    margin-right: 98px;
}

.item__Sony {
    background-image: url("img/sony.svg");
    background-repeat: no-repeat;
    width: 128px;
    height: 25.6px;
    margin-right: 66px;
    margin-left: -2px;
}

.navigation__link {
    position: relative;

}

.navigation__link::after {
    position: absolute;
    top: -20px;
    right: -14px;
    content: "";
    width: 40px;
    height: 40px;
    background: #FFFFFF url("img/dropdown.svg") no-repeat center center;
    border: 2px solid #FF3E79;
    border-radius: 50%;

}

.swiper-pagination {
    display: flex;
    border: #FF3E79 0.2px solid;
    height: 12px;
    gap: 12px;
    /* Центрируем по горизонтали */
    justify-content: center;

    opacity: 1;
}

.swiper-pagination-bullet {

    width: 12px;
    height: 12px;
    background-color: #DDDDDD !important;
    border-radius: 50%;



}

.swiper-pagination-bullet-active {

    background: #B5B6BC;

}